<div class="header mainHorizontalMargin">
  <div class="navBarLogo">
    VEILTORN
  </div>
  <div class="navBarBtns">
    <button onclick="showEmailModal()" id="topEmailBtn" class="emailList">
      Email List
    </button>
  </div>
</div>
