<div class="mainHero">
  {% include "header.njk" %}
  <div class="heroContent">
    <div class="heroFooter">
      <p class="heroTitle mainHorizontalMargin">Discovering wonder /<br>uncovering glory</p>
      <div class="studioTaglineContainer mainHorizontalMargin">
        <div class="studioTagline">We're a husband (Nate) and wife (Mo) duo who try to tear through the blinders of the mundane through the power of story and illustration.</div>
      </div>
    </div>
  </div>
</div>
