<div class="projects">
  <div class="projectList">
    <div class="projectCard sootcharmBanner">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ TTRPG</div>
        <div class="projectName"></div>
        <div class="projectAbout">
          <div class="projectDescription">Step into an alternate history of Boston and meet the cowboy fae who speaks for the wild, mob bosses stealing the very storms from the sky, and the last trains lying restless in their chains. Making it in partnership with <a href='https://graftbound.com/'>Graftbound Press</a>.</div>
          <a href="https://www.kickstarter.com/projects/graftbound/soot-and-charms-boston" class="projectExploreLink actionBtn btn">
            <div>Kickstarter</div>
            <div>→</div>
          </a>
        </div>
      </div>
    </div>
    <div class="projectCard godbloodBanner">
      <div class="projectBanner mainHorizontalMargin">
        <div class="projectType">/ BOOK</div>
        <div class="projectName"></div>
        <div class="projectAbout">
          <div class="projectDescription">Our first printed work is now available! This first volume spans the Prologue and Chapter 1 of <a href="#monstersmyriadsBannerID">Monsters and Myriads</a> in brilliant full-color with never-before-seen new pages, panels, and edits. We're so so excited to finally share this segment of the story in a high-quality print with all the polish and love we've been dying to give these pages since we published them online.</div>
          <a href="https://www.etsy.com/listing/4367370312/god-blood-monsters-and-myriads-volume-1" class="projectExploreLink actionBtn btn">
            <div>Gimme</div>
            <div>→</div>
          </a>
        </div>
      </div>
    </div>
    <div class="projectCard monstersmyriadsBanner" id="monstersmyriadsBannerID">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ WEBCOMIC</div>
        <div class="projectName"></div>
        <div class="projectAbout">
          <div class="projectDescription">When a vial of coveted 'God Blood' gets into the hands of a highschooler, the small Wisconsin town of Shenee will never be the same. This comedic, supernatural adventure pits an unlikely group of teens against false gods, spooky monsters, and homecoming dance.</div>
        <a href="https://www.monstersandmyriads.com/read/92004427-5249-4fa3-80f1-0a67f93ba559/snap-to-page" class="projectExploreLink actionBtn btn">
          <div>Explore</div>
          <div>→</div>
        </a>
        </div>
      </div>
    </div>
    <div class="projectCard charmtrainBanner">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ WEBCOMIC</div> <div class="projectName"></div>      
        <div class="projectAbout">
          <div class="projectDescription">In a world where Thomas Edison discovers teleportation alongside the lightbulb and a magical race of 'Fae' mediate between human and animal, a cowboy fae recruits the last train to steal back the western storms from the Boston mob.</div>
          <a href="https://tapas.io/series/To-Charm-A-Train" class="projectExploreLink actionBtn btn">
            <div>Explore</div>
            <div>→</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
