<div class="projects">
  <div class="projectList">
    <div class="projectCard godbloodBanner">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ BOOK</div>
        <div class="projectName"></div>      
        <div class="projectAbout">
          <div class="projectDescription">Our first printed work is now available! This first volume spans the Prologue and Chapter 1 of <a href="#monstersmyriadsBannerID">Monsters and Myriads</a> in brilliant full-color with never-before-seen new panel and dialogue additions, new full-page illustrations, and all the polish we have been dying to put on this segment since we released it years ago.</div>
          <a href="https://www.etsy.com/listing/4367370312/god-blood-monsters-and-myriads-volume-1" class="projectExploreLink actionBtn btn">
            <div>Gimme</div>
            <div>→</div>
          </a>
        </div>
      </div>
    </div>
    <div class="projectCard monstersmyriadsBanner" id="monstersmyriadsBannerID">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ WEBCOMIC</div>
        <div class="projectName"></div>
        <div class="projectAbout">
          <div class="projectDescription">When a vial of coveted 'God Blood' gets into the hands of a highschooler, the small Wisconsin town of Shenee will never be the same. This comedic, supernatural adventure pits an unlikley group of teens against false gods, spooky monsters, and homecoming</div>
        <a href="https://monstersandmyriads.com" class="projectExploreLink actionBtn btn">
          <div>Explore</div>
          <div>→</div>
        </a>
        </div>
      </div>
    </div>
    <div class="projectCard charmtrainBanner">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ WEBCOMIC</div> <div class="projectName"></div>      
        <div class="projectAbout">
          <div class="projectDescription">In a world where Thomas Edison discovers teleportation alongside the lightbulb and a magical race of 'Fae' mediate between human and animal, a cowboy fae recruits the last train to steal back the western storms from the Boston mob.</div>
          <a href="https://tapas.io/series/To-Charm-A-Train" class="projectExploreLink actionBtn btn">
            <div>Explore</div>
            <div>→</div>
          </a>
        </div>
      </div>
    </div>
    <div class="projectCard sootcharmBanner">
      <div class="projectBanner mainHorizontalMargin"> 
        <div class="projectType">/ TTRPG</div>
        <div class="projectName"></div>      
        <div class="projectAbout">
          <div class="projectDescription">The whole flavor of <i>To Charm of Train</i> expanded, remastered, and revised to empower YOU to join in through a partnership with <a href='https://graftbound.com/'>Graftbound Press</a>.</div>
          <div class="projectExploreLink disableBtn btn">Coming Soon!</div>
        </div>
      </div>
    </div>
  </div>
</div>
