<div class="studioIntro">
  <div class="introContent mainHorizontalMargin">
   <div class="studioName">VEILTORN Studio</div>
   <div class="studioMission">is a husband and wife duo who peek beneath the skin of reality through the power of story and illustration.</div>
  </div>
</div>
