:root {
  --main-bg-color: #fbfbf9;
  --main-fg-dark: #262626;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-dark);
  font-family: sans-serif;
  margin: 1em;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navBarLogo {
  letter-spacing: 0.2rem;
}
button {
  border-radius: 0.4em;
  outline: inherit;
  cursor: pointer;
  border: none;
}

button.emailList {
  padding: 1em 1.5em;
  background-color: var(--main-fg-dark);
  color: var(--main-bg-color);
}

.container {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.profile-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #555;
}
