/* Mobile first styles */
:root {
  min-width: 320px;
  --main-bg-color: #fbfbf9;
  --main-fg-dark: #262626;
  --action-btn-color: orange;
  --disabled-btn-color: #4f4f4f;
}

.mainHorizontalMargin {
  padding-right: clamp(1rem, 1.5vw, 2rem);
  padding-left: clamp(1rem, 1.5vw, 2rem);
}

html, body {
  overscroll-behavior: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-fg-dark);
  min-height: 100vh;
  margin: 0;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-bg-color);
}

.navBarLogo {
  background-image: url('img/VEILTORN-logo.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0.2rem;
}
button {
  border-radius: 0.4em;
  outline: inherit;
  cursor: pointer;
  border: none;
}
.btn {
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

.actionBtn {
  background-color: var(--action-btn-color);
  color: var(--main-fg-color);
}

.disableBtn {
  background-color: var(--disabled-btn-color);
  color: var(--main-bg-color);
}

a {
  color: var(--action-btn-color);
  cursor: pointer;
}

.navBarSocials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.navBarSocialIconContainer {
  background-color: var(--main-fg-dark);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition:all 1s ease-in-out;
}

.navBarSocialIconLabel {
  position:relative;
  left: 60px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
  display:inline-block;
  overflow:hidden;
  transition:all 0.3s ease-in-out;
}

.socialIcon {
  display: inline-block;
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition:all 0.3s ease-in-out;
}


.contactUsBtn {
  display: block;
  background-image: url('img/contactus.webp');
  width: 90px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 1em 0.5em;
}

button.emailList {
  padding: 1em 1.5em;
  background-color: var(--main-fg-dark);
  color: var(--main-bg-color);
  font-size: clamp(1rem, 1vw, 1.25rem);
}

.mainHero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  height: 100svh;
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-image:  linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/floating-casper.webp');
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  color: var(--main-bg-color);
}

.heroFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.heroTitle {
  margin-top: 0;
  font-size: clamp(3.5rem, 8vw, 4rem);
  font-weight: bold;
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.studioTaglineContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 343px;
  width: 40%;
  max-width: 500px;
  font-weight: lighter;
}

.studioTagline {
  font-size: 1.5rem;
  text-align: left;
  line-height: 2rem;
}

.introContent {
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: left;
  padding-top: clamp(2rem, 4vw, 6rem);
  padding-bottom: clamp(2rem, 4vw, 6rem);
}
.studioName {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.studioMission {
  font-weight: lighter;
  color: var(--main-fg-dark);
  margin-bottom: 2rem;
}

.projectCard {
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: var(--main-bg-color);
  background-size: cover;
  height: 100vh;
  height: 100svh;
  min-height: 800px;
  display: flex;
  padding-bottom: 2rem;
}

/* All the project specific styling for the project banners is here */
.godbloodBanner {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/vol1godblood-MOBILE-banner.webp');
  background-position: 80% 20%;
}

.godbloodBanner .projectName {
  background-image: url('img/vol1godblood-logo-MOBILE.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 100px;
  width: 300px;
}

.monstersmyriadsBanner {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/monstersmyriads-MOBILE-banner1.webp');
  background-position: 60% 0%;
}

.monstersmyriadsBanner .projectName {
  background-image: url('img/monstersmyriads-logo.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 150px;
  width: 300px;
}

.charmtrainBanner{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/charmtrain-MOBILE-banner1.webp');
  background-position: 20% 30%;
}

.charmtrainBanner .projectName {
  background-image: url('img/charmtrain-logo.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 100px;
  width: 300px;
}

.sootcharmBanner {
  background-image: url('img/sootcharm-MOBILE-banner1.webp');
}

.sootcharmBanner .projectName {
  background-image: url('img/sootcharms-logo.webp');
  background-size: contain;
  background-position: 0%;
  background-repeat: no-repeat;
  height: 100px;
  width: 300px;
}

.sootcharmBanner .projectExploreLink {
  width: 120px;
}

/* end project specific styling */

.projectBanner {
  display: grid;
  margin-top: auto;
  grid-template-rows: 35px auto auto auto;
  grid-template-columns: 1fr auto;
}

.projectType {
  color: var(--action-btn-color);
  grid-row: 1;
  grid-column: 1 / -1;
  text-align: left;
  padding-bottom: clamp(0.5rem, 1vw, 1rem);
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem; 
}
.projectName {
  grid-row: 2;
  grid-column: 2 / -1;
  text-align: left;
  padding-bottom: 1rem;
  font-size: clamp(2rem, 3vw, 3rem);
}
.projectAbout {
  grid-row: 3;
  grid-column: 2 / -1;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  line-height: 1.75rem;
}
.projectDescription {
  padding-bottom: 2rem;
}
.projectExploreLink {
  grid-row: 4;
  grid-column: 2 / -1;
  text-decoration: none;
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.profile-name {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #555;
}

.dareToTearContainer {
  text-align: center;
  padding: 4rem 2rem;
  font-size: clamp(2rem, 3vw, 3rem);
}

.footer {
  background-color: #273135;
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tablets and up */
@media (min-width: 600px) {

.navBarSocialIconContainer:hover {
  width: 120px;
  margin-left:0.5rem;
  border-radius: 10%;
}

.socialIcon:hover {
  background-position: 15% 50%;
}

.mainHero {
  background-size: 100% auto;
  min-height: 400px;
}

.contactUsBtn {
  padding: 1em 1.5em;
}

.projectCard {
  height: 90vh;
  height: 90svh; 
  min-height: 500px;
}

.godbloodBanner .projectName {
  background-image: url('img/VOL1godblood-PC-logo.webp');
  height: 80px;
}

.monstersmyriadsBanner {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/monstersmyriads-PC-banner1.webp');
}

.monstersmyriadsBanner .projectName {
  height: 180px;
}

.charmtrainBanner{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/charmtrain-PC-banner1.webp');
}

.charmtrainBanner .projectName {
  height: 80px;
}

.godbloodBanner {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('img/vol1godblood-PC-banner.webp');
}

.sootcharmBanner {
  background-image: url('img/sootcharm-PC-banner1.webp');
}

.sootcharmBanner .projectName {
  height: 80px;
}

.projectBanner {
  display: grid;
  grid-template-columns: auto 200px 1fr 1fr auto; 
  grid-template-rows: 1fr 35px auto 1fr 1fr;
  height: 100%;
}

.projectType {
  grid-row: 2;
  grid-column: 2;
  padding-top: 1rem;
  text-align: right;
  position: relative;
  bottom: 0;
}
.projectName {
  grid-row: 3;
  grid-column: 3;
}
.projectAbout {
  grid-row: 4;
  grid-column: 3;
  max-width: 600px;
  min-width: 400px;
  line-height: 1.75rem;
}
.projectDescription {
  padding-bottom: 2rem;
}
.projectExploreLink {
  grid-row: 4;
  grid-column: 3;
  text-decoration: none;
  width: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

}

/* Animations */
.actionBtn:hover {
  animation: wiggle 0.5s infinite; /* Apply the wiggle animation on hover */
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
